totalBytes 返回-1,因为用的nginx服务器，不知道怎么返回cotent-length

totalBytes 返回-1,因为用的nginx服务器，所以不知道怎么返回cotent-length,网上说关了gzip,不关gzip,就没有办法解决了吗？？求解,

类似问题，可以谷歌一下应该是有比较多答案的。

这个应该和`gzip`没有直接关系，根据[RFC2616 section 14](https://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html)中所述，`Content-Length`应该表示需要传输的大小，也就是说当采用`gzip`为内容的编码方式时，`Content-Length`应该是`gzip`以后的需要传输的大小。

---

而使用Nginx的话，配置使用Gzip，Nginx会自动的进行`gzip`编码，并且自动带`gzip`后的需要传输的大小作为`Content-Length`，如果这块有问题，应该是你Nginx配置的问题。